<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nodevember schedule</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <style>
    .slot {
      white-space: normal !important;
      min-width: 200px;
    }
  </style>
</head>
<body>
  <div id="root">
    <div class="container">
      {{#each this}}
        <div class="row" id="{{toLowerCase title}}">
          <div class="col-xs-12">
            <h3>{{title}}</h3>
            <p class="text-muted">
              {{date}}
            </p>

            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  {{#each time_slots}}
                    <tr class="{{pastEventClass ../date @key}}">
                      <td style="white-space:nowrap">{{@key}}</td>
                      {{#each this}}
                        <td colspan="{{colspan ../this.length}}"
                            id="{{slug}}"
                            class="js-slot slot">
                          <a href="/talks/{{id}}"
                              class="{{pastEventClass ../../date time}}">
                            <strong>{{title}}</strong>
                          </a>

                          {{#if speaker}}
                            <em>by {{speaker}}</em>
                          {{/if}}

                          <p>
                            {{room}}
                          </p>

                          <input type="checkbox" class="js-slot-highlight">
                        </td>
                      {{/each}}
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <script src="main.js"></script>
</body>
</html>
